extends layout

block content
  div(class="container")
    div(class='jumbotron')
      form(method='post', action="/")
        div(class="form-group")
          label(for="Nombre") Nombre
          input#Nombre(type="text" class="form-control" name="Nombre" placeholder="Tobias Eaton")
          br
          label(for="Faccion") Faccion
          input#Faccion(type="text" class="form-control" name="Faccion"  placeholder="Osadia")
          br
          label(for="Actor") Actor
          input#Actor(type="text" class="form-control" name="Actor"  placeholder="Theo James")
          br
          label(for="Divergente") Divergente
          input#Divergente(type="Divergente" class="form-control" name="Divergente"  plaaceholder="no")
          br
          button(type="submit" class="btn btn-primary") Submit
          